{% extends 'base.html' %}

{% block content %}
    <header class="navigation-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">

                        <a class="navbar-brand" href="{% url 'index' %}">Survey Net</a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="{% url 'index' %}">Main page</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Actual ones</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">New</a>
                                        <a class="dropdown-item" href="#">Statistics</a>
                                    </div>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                    <a class="nav-link" href="#">Profile</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main role="main" class="profile">
        <section class="jumbotron text-center" style="margin-top: 80px">
            <div class="container">
                <h2>Hello, {{ username }}!</h2>
                <p class="text-muted" style="max-width: 700px; margin: 0 auto 1rem">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="{% url 'basic_app:createsurvey' %}" class="btn button1 my-2">Create survey</a>
                    <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
                </p>
            </div>
        </section>

        <section class="album py-5">
            <div class="container">
                <div class="row">
                {% if surveys != null %}
                {% for survey in surveys %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{ survey.title }}</h5>
                                <p class="card-tags">{{ survey.tags }}</p>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'basic_app:survey' %}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                        <a type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
                </div>
            </div>
        </section>
    </main>
    {% include 'footer.html' %}
{% endblock %}