{% extends 'base.html' %}

{% block content %}
	<header class="navigation-wrap">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-dark">

						<a class="navbar-brand" href="{% url 'index' %}">Go Back</a>

						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

					</nav>
				</div>
			</div>
		</div>
	</header>

	<div class="success-message">
		<h1>You success reset this form</h1>
	</div>

    <main role="main" class="full-height">
        <div class="absolute-center">
            <section>
                <div class="container form-wrapper" style="position: relative; top: 1em;">
                    <div class="col-12 col-md-8 offset-md-2">
                        <form id="reg-form" method="post" novalidate>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h1 class="form-title" style="margin-bottom: 0;">Join in!</h1>
                                    <h5 class="form-subtitle">Get the best survey service for free!</h5>
                                </div>
                            </div>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br>
                            <div class="row justify-content-end">
                                <input type="submit" value="Sign in" class="btn send-form">
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>

    {% include 'footer.html' %}
{% endblock %}